.recipe-block {
    margin-bottom:1.5rem;
    padding:1.5rem;
    border-radius:1.5rem;
    background-color:rgba(255,255,255,.8);
}
.recipe-block h2,
.recipe-block li,
.recipe-block p {
    font-size:2rem;
    text-align:left;
    color:#000;
}
.recipe-block h2 {
    margin-bottom:1.5rem;
}
.recipe-block ul {
    margin-bottom:1.5rem;
    list-style-type:none;
}
.recipe-block li {
    margin-bottom:.5rem;
    text-transform:capitalize;
}
.recipe-block li:last-of-type {
    margin-bottom:0;
}
