.ingredient-item {
    font-size:1.6rem;
    line-height:1.2em;
    position:relative;
    margin-bottom:1.5rem;
    padding:.8rem 1rem;
    text-align:center;
    text-transform:capitalize;
    color:#fff;
    border-radius:.5rem;
    background-color:#18b6ff;
}
.ingredient-item--unavailable {
    color: #bdbdbd;
    background-color: #0a73a4;
}
.ingredient-item__remove {
    font-size:2.5rem;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    display:flex;
    width:3rem;
    cursor:pointer;
    justify-content:center;
    align-items:center;
}
