.modes {
    display:flex;
    width:100%;
    margin-bottom:1.5rem;
    padding:1.5rem;
    list-style-type:none;
    border-radius:1.5rem;
    background-color:rgba(255,255,255,.8);
    align-items:stretch;
    justify-content:center;
}
.modes li {
    margin:0 1rem;
    flex-grow:1;
}
.modes li button {
    font-size:2rem;
    width:100%;
    padding:1.5rem;
    cursor:pointer;
    transition:background-color .3s, color .3s;
    text-align:center;
    text-transform:capitalize;
    color:#000;
    border:0;
    border-radius:1.5rem;
    background-color:#aaa;
}
.modes li.active button {
    border:1px solid #000;
}
.modes li button:hover,
.modes li button:focus {
    color:#fff;
    background-color:#00e4ff;
}
