.ingredient-input {
    display:flex;
    flex-direction:row;
    width:100%;
    margin-bottom:1.5rem;
    padding:1rem;
    border-radius:1.5rem;
    background-color:rgba(255,255,255,.8);
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}
.ingredient-input__item,
.ingredient-input__amount,
.ingredient-input__quantifier {
    font-size:2rem;
    margin-bottom:1.5rem;
    padding:1rem;
    text-align:center;
    text-transform:capitalize;
    color:#000;
    border:1px solid #aaa;
    border-radius:1rem;
    background-color:#fff;
}
.ingredient-input__item {
    flex-basis:100%;
}
.ingredient-input__amount,
.ingredient-input__quantifier {
    flex-basis:49%;
}
.ingredient-input__submit {
    font-size:2rem;
    width:100%;
    max-width:200px;
    margin-left:auto;
    padding:1rem;
    cursor:pointer;
    transition:background-color .3s, color .3s;
    text-align:center;
    color:#000;
    border:0;
    border-radius:1rem;
    background-color:#aaa;
}
.ingredient-input__submit,
.ingredient-input__submit {
    color:#fff;
    background-color:#00e4ff;
}
